
$transition: all 300ms ease;

$grayDark: hsl(75deg, 10%, 40%);
$grayDarkSoft: hsl(60deg, 12%, 60%);
$grayDarkHardSoft: hsl(60deg, 12%, 68%);

$lightSoft: hsl(26deg, 100%, 92%);
$primaryLight: hsl(24deg, 43%, 76%);
$primary: hsl(21deg, 43%, 65%);