
.main {
  display: grid;
  grid-template-columns: 8rem 1fr;
  height: 100vh;

  @include responsive(768px) {
    grid-template-columns: 0 1fr;
  }
}

.menu {
  background-color: #fff;
  display: none;
  
  @include responsive(768px) {
    @include menu;
  }
}

.menu__icon {
  font-size: 1.6rem;
  display: block;
}